.container{
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
}

#photofirst { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.table{
  color: white;
  background-color: rgb(72, 72, 72);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: left;
  position: sticky;
  top: 0;
}

th:hover {
  background-color: rgba(0, 0, 0, 0.518);
}

.body{
  color: black;
  background-color:rgba(225, 225, 225, 0.967); 
  font-family:Arial, Helvetica, sans-serif;
}


#F {
  width: 30%;
  height: 40%;
  opacity: 100%;
  float: right;
}