.container{
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

img #foto1 { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.table{
  color: white;
  background-color: rgb(72, 72, 72);
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  text-align: left;
  position: sticky;
}

.background{
  color: white;
  background-color:rgb(102, 101, 101); 
}

.H{
  font-family: "Lucida Console", "Courier New", monospace;
}